<div class="jl-contact-info jl-bg-black jl-text-light">
  <div class="jl-contact-info-inner">
    <h2  class="jl-title jl-text-green">Contato</h2>
    <p>hello@joaolemon.com</p>
    <p>+55 (63) 9 9999-8888</p>
    <div class="jl-social-links">
      <a href="#" class="jl-social"><img src="../images/icon-instagram.svg" alt="Instagram"></a>
      <a href="#" class="jl-social"><img src="../images/icon-twitter.svg" alt="Twitter"></a>
      <a href="#" class="jl-social"><img src="../images/icon-dribbble.svg" alt="Dribbble"></a>
    </div>
  </div>
  <div class="jl-corner">

  </div>

</div>
<div class="jl-btn-contact">

</div>