$primary-color:#2CCB69;
$background-color: #1C1C1C;
$font-color: #BCBCBC;

$font-family: 'Open Sans';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 320px){
  .jl-page-wrapper{
    width: 100%;
    height: 100vh;
    display: block;
    background-color: $background-color;
    border: 30px solid #000;
  }
  .jl-topbar{
    width: 100%;
    height: 110px;
    display: block;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;

    .jl-logo{
      width: 74px;
      height: 110px;
      float: left;
      margin-left: 60px;
      background-color: $primary-color;
      border-radius: 0 0 37px 0;

      img{
        width: 46px;
        height: 31px;
        display: block;
        margin: 55px auto 0 ;
      }
    }
    .jl-menu{
      display: none;
    }
  }
}
@media screen and (min-width: 576px){
  
}
@media screen and (min-width: 768px){
  
}
@media screen and (min-width: 992px){
  .jl-topbar{
    .jl-menu{
      display: block;
      float: left;
      height: 110px;
      margin-left: 30px;

      a{
        text-decoration: none;
        font-family: $font-family;
        color: $font-color;
        font-size: 16px;
        text-transform: lowercase;
        display: inline-block;
        padding: 0 20px;
        margin-top: 50px;
      }
      a:first-child{
        padding-left:0;
      }

    }
  }
}
@media screen and (min-width: 1200px){
  
}
@media screen and (min-width: 1364px){
  
}
@media screen and (min-width: 1600px){
  
}

